.move {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}

.move img {
  width: 600px;
  margin-bottom: 50px;
  animation: Moveing 2.5s linear infinite;
}

.move h1 span {
  color: var(--MainColor);
  text-align: center;
}

.move p {
  font-size: 21px;
  color: var(--SecondColor);
  text-align: center;
}

.move div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.move div button {
  font-weight: 600;
}

.move div button:last-child {
  margin-left: 15px;
  background-color: transparent;
  font-size: 17px;
  border: 0;
  padding: 9px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--SecondColor);
}

.move div button:last-child:hover {
  color: var(--MainColor);
}

.move div button:last-child i {
  font-size: 35px;
  margin-right: 10px;
  color: var(--MainColor);
}

@keyframes Moveing {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(30px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width:600px) {
  .move img {
    width: 90%;
  }
}

.Services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 60px;
}

.Services .Service {
  width: 310px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  height: 210px;
  cursor: pointer;
}

.Services .Service:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: translateY(-30px);
}

.Services .Service i {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--MainColor);
}
